div {
    border: solid 2px;
    border-radius: 5px;
    border-color: black;
}

.caja1 {
    background: #3E6ABC;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: linear-gradient(270deg, #3E6ABC, #17161B);
}

.caja2 {
    background: #3E6ABC;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #3E6ABC, #17161B);
    color: blue;
}

.caja3 {
    background: #3E6ABC;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(270deg, #3E6ABC, #17161B);
    color: blue;
}

.cajas1 {
    background-color: blanchedalmond;
    width: 100px;
    height: 100px;
    text-align: center;
    color: rgb(24, 24, 26);
    margin: 5px;
}