/* 
font-family: 'Roboto', sans-serif; 
*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

/* header {
    background-color: rgb(248, 248, 214);
    padding: 16px 0;
} 

header h1 {
    color: gray;
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 30px;
}
*/
nav {
    background-color: bisque;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    /*para que desaparezcan las viñetas*/
    margin: 0;
    padding: 0;
    display: flex;
    /*uno al lado del otro*/
}

nav ul li {
    flex-grow: 1;
    /*factor de crecimiento, es la cantidad que debería ocupar dentro del contenedor flexible. 
    Tiene que especificarse anteriormente un display: flex (ver más arriba)*/
}

nav ul li a {
    text-decoration: none;
    color: gray;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a.activo {
    background-color: darkkhaki;
    /*Clase para sombrear el elemento del menú que se corresponde con la página*/
}

nav ul li a:hover {
    background-color: burlywood;
}

footer {
    background-color: rgb(95, 97, 90);
    clear: both;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

.holder {
    max-width: 780px;
    margin: 0 auto;
    /*clase que hace que el elemento abarque todo el ancho hasta un tope de 780px*/
}

h2 {
    color: rgb(101, 104, 95)
}

/*Botones del Sitio: Generales*/
.btn {
    /* Color del texo */
    color: darkkhaki;
    /* Eliminar color de fondo */
    background: transparent;
    /* Grosor del borde, estilo de línea y color */
    /* border: 2px solid #0099CC;  ... antes de modificación*/
    border: 2px solid darkkhaki;
    /* Añadir esquinas curvadas */
    border-radius: 6px;
    text-align: center;
    /* font-size: 28px; */
    padding: 5px;
    /* width: 300px; */
    align-self: center;
}

.btn:hover {
    /* background-color: #008CBA; ... antes de modificación*/
    background-color: bisque;
    /* color: white;  ... antes de modificación*/
    color: rgb(107, 91, 69);
    -webkit-transition-duration: 1s;
    /* Safari */
    transition-duration: 1s;
    cursor: pointer;
}


/* ------- HEADER ROBADO Y MODIFICADO JEJEJE  ----------------------------------------------------------------------------- */
/*By @nodws Feel free to use it on your project, paypal me a beer if you want :D pay@nodws.com*/
/*EXTRAÍDO DE: https://freefrontend.com/css-headers-footers/ */

html,
body {
    margin: 0;
    height: 120%;
}

a {
    text-decoration: none
}

.header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 50vw;
    min-height: 400px;
    max-height: 550px;
    min-width: 300px;
    color: #eee;
}

.header:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 40%, rgba(27, 32, 48, 1) 100%);
}

.header:before {
    content: "";
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    scale: (1.0, 1.0);
    transform: translateZ(0);
    background: #1B2030 url(https://www.lavanguardia.com/files/content_image_desktop_filter/files/fp/uploads/2022/05/04/62721c9bd6c9d.r_d.3918-1813.jpeg) 50% 0 no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    animation: grow 360s linear 10ms infinite;
    transition: all 0.4s ease-in-out;
    z-index: -2
}

.header a {
    color: #eee
}

.sides,
.info {
    flex: 0 0 auto;
    width: 50%
}

.info {
    width: 100%;
    padding: 15% 10% 0 10%;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}

.info h4,
.meta {
    font-size: 0.7em
}

.meta {
    font-style: italic;
}

@keyframes grow {
    0% {
        transform: scale(1) translateY(0px)
    }

    50% {
        transform: scale(1.2) translateY(-100px)
    }
}


/*REGLAS HOME ------------------------------------------------------------------------*/
.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos {
    width: 75%;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    /* background-color: blanchedalmond; */
}

.testimonios {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    background-color: rgb(241, 232, 232);
    border: 1px solid #c1c2c4;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb(156, 152, 149);
}

.testimonio .cita {
    font-style: italic;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(241, 232, 232);

    border: 1px solid #c1c2c4;
    border-radius: 5px;
    box-sizing: border-box;
    /* box-shadow: 0 0 3px rgb(156, 152, 149); */
}

.testimonio .autor {
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    display: block;
}

img {
    padding: 10px;
    text-align: center;
}
/*FIN HOME*/


/*REGLAS NOSOTROS ---------------------------------------------------------------*/
.historia {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.historia p {
    font-size: 14px;
}

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    border: 1px solid #c1c2c4;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    background-color: rgb(245, 238, 231);
    box-shadow: 0 0 5px rgb(156, 152, 149);
}

.persona p {
    font-size: 12px;
    color: rgb(143, 142, 142);
}

.persona img {
    border-radius: 50%;
    max-width: 80%;
    box-shadow: 0 0 5px rgb(114, 108, 105);
}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    color: rgb(104, 103, 103);
}

.persona h5 {
    font-size: 12px;
    font-weight: bold;
    text-shadow: #194baf;
    margin-top: 5px;
}

.persona h6 {
    font-size: 11px;
    font-style: italic;
}
/*FIN NOSOTROS*/


/*REGLAS SERVICIOS --------------------------------------------------------------------------*/
.cuerposervicios {
    padding-left: 20px;
    padding-right: 20px;
}

.servicio {
    border: 1px solid #c1c2c4;
    border-radius: 5px;
    padding: 13px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
    box-shadow: 0 0 5px rgb(156, 152, 149);
    min-width: 400px;
    /* flex-wrap: wrap; FUNCIONA PERO PONE UNA COSA DEBAJO DE LA OTRA*/
}

.servicio img {
    border-radius: 50%;
    display: block;
}

.servicio .btn {
    display:block;
    width: 300px;
}
/*FIN SERVICIOS*/


/*REGLAS NOTICIAS --------------------------------------------------------------------------*/
.noticias {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.noticia {
    border: 1px solid #c1c2c4;
    border-radius: 5px;
    padding: 13px;
    margin: 16px 0;
    align-items: center;
    box-shadow: 0 0 5px rgb(156, 152, 149);
    /* min-width: 400px; */
}

.notititulo {
    color: #84a3e0;
}
/*FIN NOTICIAS*/


/*REGLAS CONTACTO --------------------------------------------------------------------------*/
.contacto {
    display: flex;
    gap: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.contacto div {
    width: 100%;
}

.datos {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 100px;
    display: flex;
    align-items: center;
}

.formulario p input,
.formulario p textarea {
    width: 100%;
}

.formulario p input,
.formulario p textarea {
    background: rgb(240, 240, 240);
    border-radius: 5px;
    border: 1px solid #c1c2c4;
    font-size: 14px;
    padding: 6px;
}

.formulario p textarea {
    resize: none;
    height: 150px;
}

.formulario p:nth-child(4) {
    /*ojo, es sólo para el cuarto hijo: Mensaje*/
    align-items: start;
}

.contacto .btn {
    width: 80px;
    position: relative;
    left: 6.3rem;
}
/*FIN CONTACTO*/


/*REGLAS SERVICIOS>Adoptar -------------------------------------------------------------------*/
.adopciones {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.adopcion {
    border: 1px solid #c1c2c4;
    border-radius: 5px;
    padding: 13px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgb(156, 152, 149);
    flex-grow: 1;
}

.adopcion img {
    border-radius: 10%;
    text-align: center;
}

.adopcion .btn {
    width: 100px;
    align-self: center;
}
/*FIN SERVICIOS > Adoptar*/